.main{
    background-image: url(https://static9.depositphotos.com/1193856/1173/i/950/depositphotos_11737569-stock-photo-recycle-on-green-grass-texture.jpg); background-repeat: no-repeat; background-size: cover;
}
body{
    
    background-image: url(../img/fondo.jpg); background-repeat: no-repeat; background-size: cover; 
}
.header{
    background-color: #6ab04c;
}
#LOGO{
    padding: 20px;
}
li{
    text-align:left;
}


h2{
    text-align: center;   
    font-style: italic;
    color: black;
    font-weight: bold;
}
h4{
    text-align: center;   
}
.form-group{
    text-align: center;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border: 5px;
    border-radius: 40px;
}
.carousel-caption{
    left: 10px;
    right: 55%;
    text-align: left;
    color: #000000;
    font-weight: bold;
}
.center{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    
}
button{
    text-align: center;
}

@media (max-width: 576px) {
    .no-xs{
        display: none;
    }
    .margin-top-xs{
        margin-top: 20px;
    }
}
.boton{
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    border: 2px solid #000000;
    text-align: center;
}
.img-margin-top{
    margin-top: 10px;
}
