
{% extends 'gana/base.html' %}

{% load crispy_forms_tags %}

{% block contenido %}

<h3>Agregar reciclaje</h3>

<form action=""  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  
  {{ form | crispy }}
  
  <br></br>
  <div class="float-right">
    <input type="reset" value="Limpiar" class="btn btn-info">
    <input type="submit" value="Guardar" class="btn btn-info">
  </div>

</form>
{{ mensaje }}

{% endblock %}
