<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recicla & Gana</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gana/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'gana/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'gana/css/style.css' %}">
    
  </head>
<body background="css/style.cssimg/LOGO.jpg">
  <nav class="navbar navbar-expand-lg navbar-dark header">
    <a class="navbar-brand" href="#">
        <img src="{% static 'gana/img/LOGO.jpg' %}" alt="LOGO" height="100">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'plastico' %}">Plastico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vidrio' %}">Vidrio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'agregar' %}">Agrega tu reciclaje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista' %}">Ver reciclados</a>
        </li>
      </ul>
    </div>
    <ul class="nav justify-content-end">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="#">Usuario: {{user.username}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
        </li>
        
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" tabindex="-1" aria-disabled="true">Ingresar</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'registrar' %}" tabindex="-1" aria-disabled="true">Registrate</a>
          </li>
        {% endif %}
          
      </ul>
  </nav>
  <br></br>

  <div id="principal">
    <br></br>
    <div class="container">
      {% block contenido %}

      {% endblock %}
    </div>
  
  </div>



  <script src="{% static 'gana/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'gana/js/bootstrap.js' %}"></script>
    <script src="{% static 'gana/js/app.js' %}"></script>
</body>
</html>