{% extends 'gana/base.html' %}
  
{% load static %} 

{% block contenido %}


<h2>BIENVENIDO A RECICLA & GANA</h2>

<p>Recicla y gana es una forma mas didactica y entretenida 
    de reciclar tus residuos diarios de forma en que ayudemos 
    al medioambiente y con esto tu ganes una determinada recompensa.
    </p>

    <div class="row">
        <div class="col-xs-12 col-sm-6 texto-derecha margin-top-xs">
          <h1>¿En que consiste?</h1>
          <p>recicla y gana tiene distribuidos una serie de contenedores 
            exclusivos por la ciudad en los cuales tu podras depositar todos 
            los residuos que acumules ya sea plastico , vidrio , etc. juntando
            puntos dependiendo de que tipo de residuo recicles, al llegar a una 
            cantidad exacta de puntos podras usarlos para cangearlos por variados
            premios.
            </p>
        </div>
        <br>
        <div class="col-xs-12 col-sm-6 margin-top-xs ">
          <img src="{% static 'gana/img/gana.png' %}" width="300" alt="">
          <img src="{% static 'gana/img/gana1.jpg' %}" width="300" alt="">
          <img src="{% static 'gana/img/gana2.jpg' %}" width="300" alt="">
        </div>
      </div>
    </div>
{% endblock %}


