{% extends 'gana/base.html' %}
  
{% load static %}

{% block contenido %}
 
<h2>Listado de reciclaje</h2>
  <table class="table table_striped">
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Imagen</th>
      <th>Tipo</th>
      <th>Opciones</th>
    </tr>

    {% for r in reciclajes %}

    <tr>
      <td>{{ r.nombre}}</td>
      <td>{{ r.fecha}}</td>
      <td>{{ r.cantidad}}</td>
      <td>{{ r.imagen}}</td>
      <td>{{ r.tipo}}</td>
      <td>
        <a href="{% url 'modificar' r.id  %}">Modificar</a>
        <a href="{% url 'eliminar' r.id  %}">Eliminar</a>
      </td>
    </tr>

    {% endfor %}
  
  </table>
  {% endblock %}
