{% extends 'gana/base.html' %}



{% block contenido %}

<h3>Modificar reciclaje</h3>

<form action=""  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <table>
  {{ form }}
  </table>
  <br></br>
  <input type="reset" value="Limpiar">
  <input type="submit" value="Modificar">

</form>
{{ mensaje }}

{% endblock %}
