{% extends 'gana/base.html' %}
  
{% load static %}

{% block contenido %}
 

 
<h2>Reciclaje de plastico</h2>
<br></br>
<br></br>
<div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-6 texto-derecha margin-top-xs">
        <h1>¿Sabias que?</h1>
        <p>El plástico está hecho de petróleo y de carbón que no se disuelven. Reciclar este material ahorra energía y recursos naturales. Para el medio ambiente, el plástico es una grave amenaza porque demora años en degradarse, se estima que tarda unos 180 años en descomponerse, aunque este periodo depende del tipo de plástico.</p>
        <img src="{% static 'gana/img/sabias.jpg' %}" width="300" alt="">
      </div>
      <br>
      <div class="col-xs-12 col-sm-6 margin-top-xs ">
        <img src="{% static 'gana/img/recicla.png' %}" width="300" alt="">
        <h1>¿Como reciclarlo?</h1>
        <p>En nuestro contenedor exclusivo de recicla y gana podras depositar todo el plastico que encuentres y acumular puntos que al llegar a una cantidad exacta podras canjear por cientos de premios.</p>
      </div>
    </div>
  </div>

  <br></br>
{% endblock %}
