{% extends 'gana/base.html' %}
  
{% load static %}

{% block contenido %}
 

 
<h2>Reciclaje de vidrio</h2>
<br></br>
<br></br>
<div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-6 texto-derecha margin-top-xs">
        <h1>¿Sabias que?</h1>
        <p>Por cada tonelada de vidrio reciclado se ahorran 130 kilos de combustible y 1.200 de materia prima. El vidrio es un material 100% reciclable que no pierde sus propiedades físicas ni disminuye su calidad en el proceso de reciclado El mínimo exigido por la Unión Europea es un 60% de vidrio reciclado. españa traspasó esa cifra en 2007, aunque países como Suecia, Suiza o Bélgica ya superan el 90%. Esto permite soñar con a una tasa de residuos cero.</p>
        <img src="{% static 'gana/img/sabias1.jpg' %}" width="300" alt="">
      </div>
      <br>
      <div class="col-xs-12 col-sm-6 margin-top-xs ">
        <img src="{% static 'gana/img/recicla1.jpg' %}" width="300" alt="">
        <h1>¿Como reciclarlo?</h1>
        <p>
            Debes llevar todo el vidrio acumulado que tengas ya sean botellas, vasos
            frascos, etc y depositarlo en nuestros contenedores de recicla y gana
            para comenzar a acumular puntos dependiendo del tamaño del recipiente 
            reciclado. una vez terminado el deposito se te sumaran los puntos obtenidos
            y podras saber por que premio podras canjearlos.</p>
      </div>
    </div>
  </div>

  <br></br>
{% endblock %}
